<!-- Reviews -->
<div class="d-flex flex-column align-items-center w-100">
    {% if reviews.count > 0 %}
        {% for review in reviews %}
            <div class="card reviews mb-3">
                <div class="card-body px-2 d-block w-100">
                    <div class="d-flex justify-content-start">
                        <h5 class="pr-2">{{ review.author }}</h5>
                        <small class="text-muted">{{ review.created_on|date:"d.m.y"}}</small>
                    </div>
                    <p class="card-text">{{ review.body }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>There are no reviews for this item yet. Login to leave one!</p>
    {% endif %}
    {% if request.user.is_authenticated %}
    <div>
      <button type="button" class="buttons btn rounded mb-2 mx-1" data-toggle="modal"
        data-target="#staticBackdrop">
        Leave a review
      </button>
    </div>
    {% else %}
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <a href="{% url 'account_login' %}" class="link small review-login">Sign in to leave a review</a>
      </div>
    </div>
    {% endif %}
</div>