{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="overlay">
<div class="container hero-container">
    <div class="row">
        <div class="col-sm-6 hero-text">
            <h1>Affordable luxury for every occassion...</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <h1 class=" hero-text text-right">...so treat yourself to some Hidden Gems</h1>
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-center my-4">
        <h2>
            <a href="{% url 'products' %}" class="buttons btn btn-lg rounded">Shop Now!</a>
        </h2>
    </div>
</div>
</div>
{% endblock %}