{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container px-4">
    <div class="row checkout-container d-flex justify-content-center">
        <div class="col-12 content-container mx-0 pb-3 shadow px-3">
            <div class="row">
                <div class="col mt-3 text-center">
                    <h2>My Profile</h2>
                    <hr class="w-50 mb-3">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <p>Default Delivery Details</p>
                    <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="text-right">
                        <button class="buttons btn rounded mb-2">Update Information</button>
                    </div>
                    </form>
                </div>
                <div class="col-12 col-lg-6">
                    <p>Order History</p>
                    {{ orders }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}