@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    /* Fonts */
    --headings: 'Courgette', sans-serif;
    --main-font: 'Quattrocento Sans', sans-serif;

    /* Colours */
    --off-white: #FAF9F6;
    --light-pink: #f6e8e8;
    --light-purple: #d3c3c9;
    --purple: #aea1ad;
    --dark-purple: #858192;
    --dark-blue: #2f4858;
    --faded-dark-blue: #485A73;
}

html, body {
    height: 100%;
}

body {
    background: #ede7eb;
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headings);
}

main {
    flex: 1 0 auto;
}

/* Buttons */

.buttons, .decrement-quantity-btn, .increment-quantity-btn, .edit-btns:hover {
    color: var(--light-pink);
    border: solid 1px var(--dark-blue);
    background-color: var(--dark-blue);
}

.buttons:hover, .edit-btns {
    color: var(--dark-blue);
    background-color: var(--light-pink);
    border: solid 1px var(--dark-blue);
}

.header-container {
    padding-top: 180px;
}

/* Navbar */
.logo {
    width: 90px;
}

.navbar {
    font-family: var(--headings);
    font-size: 22px;
    background-color: var(--light-pink);
}

.navbar-expand-lg .navbar-collapse {
    justify-content: right;
    text-align: right;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark-blue);
}

.navbar-light .navbar-nav .nav-link.active, .active-link {
    color: var(--dark-blue);
    font-weight: 600;
    border-bottom: 2px solid var(--dark-blue);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: var(--dark-blue);
    font-style: italic;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

.total-price {
    font-family: var(--main-font);
    font-size: 16px;
    color: var(--dark-blue);
}

.product-count {
    /* right: 11px;
    top: 32px; */
    position: absolute;
    font-family: var(--main-font);
    font-size: 16px;
    color: var(--dark-blue);
    background-color: var(--off-white);
}

/* Hero image */
.overlay {
    background: url('/media/hero-image.webp') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-top: 200px;
}

.hero-text {
    background-color: rgb(211, 195, 201, 0.6);
    padding: 2px;
    border-radius: 5px;
    margin: 0 10px;
}

.delivery-banner {
    background-color: var(--dark-blue);
    color: var(--light-pink);
}

/* Footer */
footer {
    flex-shrink: 0;
    background-color: var(--dark-blue);
    color: var(--light-pink);
}

.footer, .footer:hover {
    color: var(--light-pink);
}

.footer:hover {
    font-style: italic;
    text-decoration: none;
}

.social-icon {
    color: var(--light-pink);
    font-size: 30px;
}

/* Containers */
.content-container {
    background-color: rgb(246, 232, 232, 0.95);
    border-radius: 5px;
    margin: 3rem;
    color: var(--dark-blue);
}

.link {
    color: var(--dark-blue);
    text-decoration: underline;
    font-weight: bold;
}

.link:hover {
    color: var(--dark-blue);
    font-size: 17px;
}

/* Products */
.card-body, .card-footer {
    background-color: var(--off-white);
}

.products-hr {
    border-top: 3px solid var(--dark-purple);
    width: 80%;
}

.category-btn:hover {
    color: var(--dark-blue);
    background-color: #ede7eb;
    border: solid 1px var(--dark-blue);
}

.products-link {
    color: var(--dark-blue);
    text-decoration: none;
}

.products-link:hover {
    text-decoration: none;
}

.border-info {
    border: none!important;
}

.back-to-top {
    font-size: 28px;
}

.back-to-top-link:hover {
    text-decoration: none;
}

.decrement-quantity-btn:hover, .increment-quantity-btn:hover {
    color: var(--light-pink);
    border: solid 1px var(--faded-dark-blue);
    background-color: var(--faded-dark-blue);
}

.update-link, .remove-item {
    cursor: pointer;
}

/* Basket */
.table {
    color: var(--dark-blue);
}

/* Wishlist */
.wishlist-icon {
    font-size: 22px;
}

/* Toasts */
.message-container {
    position: fixed;
    top: 115px;
    right: 10px;
    z-index: 999999999;
    margin-left: 10px;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.toast-header, .toast-body {
    background-color: var(--off-white);
    color: var(--dark-blue);
}

/* From CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 25px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Media queries */
@media (min-width: 379px) {
    .header-container {
        padding-top: 160px;
    }
}

@media (min-width: 576px) {
    .header-container {
        padding-top: 190px;
    }

    .hero-text {
        margin: 0;
        text-align: center !important
    }

    .logo {
        width: 130px;
    }
}

@media (min-width: 992px) {
    .overlay {
        padding-top: 280px;
    }

    .back-to-top {
        font-size: 34px;
    }
}

