{% extends 'base.html' %}
{% load static %}

{% block extra_title %}| 403{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="row d-flex justify-content-center mx-2">
        <div class="col-12 col-md-8 col-lg-6 content-container shadow">
            <h1>403 - Access Forbidden</h1>
            <p>You are not authorised to perform this action!</p>
            <a href="{% url 'home' %}" class="buttons btn btn-lg rounded mb-3">Return Home</a>
        </div>
    </div>
</div>
{% endblock %}
