{% load static %}

<footer class="text-center py-2">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-4">
                <h5>Useful Links:</h5>
                <ul class="list-unstyled">
                    <li><a class="footer" href="{% url 'home' %}">Home</a></li>
                    <li><a class="footer" href="{% url 'contact' %}">Contact</a></li>
                    <li><a class="footer" href="">FAQs</a></li>
                    <li><a class="footer" href="">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Sign up to our newsletter for discounts and first looks at new items:</h5>
            </div>
            <div class="col-md-4 justify-content-md-around">
                <h5>Visit our social media pages:</h5>
                <div>
                    <a href="https://www.facebook.com/" target="blank" rel="noopener"
                        aria-label="Link to Facebook - opens in a new tab">
                        <i class="fa-brands fa-square-facebook social-icon mx-2"></i>
                    </a>
                    <a href="https://www.instagram.com/" target="blank" rel="noopener"
                        aria-label="Link to Instagram - opens in a new tab">
                        <i class="fa-brands fa-square-instagram social-icon mx-2"></i>
                    </a>
                    <a href="https://www.twitter.com/" target="blank" rel="noopener"
                        aria-label="Link to Twitter - opens in a new tab">
                        <i class="fa-brands fa-square-twitter social-icon mx-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>