{% load static %}

<footer class="text-center py-2 py-md-0">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-3">
                <h2 class="mt-2 heading-small">Useful Links:</h2>
                <ul class="list-unstyled">
                    <li><a class="footer" href="{% url 'home' %}">Home</a></li>
                    <li><a class="footer" href="{% url 'contact' %}">Contact</a></li>
                    <li><a class="footer"
                            href="https://www.privacypolicygenerator.info/live.php?token=ozjXA6NCJbQiXZzYLS2p8iPKfCiDKBKm"
                            target="_blank">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <div id="mc_embed_shell">
                    <div id="mc_embed_signup">
                        <form
                            action="https://herokuapp.us8.list-manage.com/subscribe/post?u=a1c73ea001c46a472dcc929a9&amp;id=a056287016&amp;f_id=00e60de0f0"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            class="validate" target="_blank">
                            <div id="mc_embed_signup_scroll">
                                <h2 class="text-center mb-0">Sign up to our newsletter for discounts and first looks at
                                    new items:</h2>
                                <div class="indicates-required"></div>
                                <div class="mc-field-group"><label for="mce-EMAIL">Email Address*</label><input type="email" name="EMAIL"
                                        class="required email" id="mce-EMAIL" required="" value=""></div>
                                <div id="mce-responses" class="clear foot">
                                    <div class="response" id="mce-error-response" style="display: none;"></div>
                                    <div class="response" id="mce-success-response" style="display: none;"></div>
                                </div>
                                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                    <!-- real people should not fill this in and expect good things - do not remove this
                                    or risk form bot signups -->
                                    <input type="text" name="b_a1c73ea001c46a472dcc929a9_a056287016" tabindex="-1"
                                        value="" aria-label="hidden input">
                                </div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"
                                            value="Subscribe">
                                        <p style="margin: 0px auto;"><a href="http://eepurl.com/iEgbt6"
                                                title="Mailchimp - email marketing made easy and fun"><span
                                                    style="display: inline-block; background-color: transparent; border-radius: 4px;"><img
                                                        class="refferal_badge"
                                                        src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                                                        alt="Intuit Mailchimp"
                                                        style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 justify-content-md-around">
                <h2 class="heading-small">Visit our social media pages:</h2>
                <div class="mb-2">
                    <a href="https://www.facebook.com/profile.php?id=61553812650593" target="blank" rel="noopener"
                        aria-label="Link to Facebook - opens in a new tab">
                        <i class="fa-brands fa-square-facebook social-icon mx-2"></i>
                    </a>
                    <a href="https://www.instagram.com/" target="blank" rel="noopener"
                        aria-label="Link to Instagram - opens in a new tab">
                        <i class="fa-brands fa-square-instagram social-icon mx-2"></i>
                    </a>
                    <a href="https://www.twitter.com/" target="blank" rel="noopener"
                        aria-label="Link to Twitter - opens in a new tab">
                        <i class="fa-brands fa-square-twitter social-icon mx-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

{% block postloadjs %}
<script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script>
    (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'ADDRESS';
        ftypes[3] = 'address';
        fnames[4] = 'PHONE';
        ftypes[4] = 'phone';
        fnames[5] = 'BIRTHDAY';
        ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>
{% endblock %}