{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid py-4 px-sm-5">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container d-flex justify-content-end">
                <!-- Product Image -->
                {% if product.image %}
                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                <img class="card-img-top img-fluid" src="{{ MEDIA_URL}}logo.webp" alt="{{ product.name }}">
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 px-xl-1">
            <div>
                <div class="col d-flex justify-content-between px-0">
                    <h4 class="mt-2">{{ product.name }}</h4>
                    <div class="d-flex flex-wrap align-content-center">
                        <a href="#"><i class="fa-regular fa-heart wishlist-icon"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="lead font-weight-bold mb-0">£{{ product.price }}</p>
                    </div>
                    <div class="col text-right">
                        {% if product.category %}
                        <p class="small">
                            <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-tag"></i> {{ product.category.friendly_name }}
                            </a>
                        </p>
                        {% endif %}
                    </div>
                </div>
                <p>{{ product.description }}</p>
                <p class="text-muted text-right"><i class="fa-solid fa-gem"></i> Materials: {{ product.materials }}
                </p>
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-3 d-flex flex-wrap align-content-center">
                            <p><strong>Quantity:</strong></p>
                        </div>
                        <div class="col-9">
                            <div class="form-group">
                                <div class="input-group input-group-{{ product.id }}">
                                    <div class="input-group-prepend">
                                        <button class="decrement-quantity-btn btn decrement-qty_{{ product.id }}"
                                            data-item_id="{{ product.id }}">
                                            <i class="quantity-icon fa-solid fa-minus"></i>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                                        name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-quantity-btn btn increment-qty_{{ product.id }}"
                                            data-item_id="{{ product.id }}">
                                            <i class="quantity-icon fa-solid fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <a href="{% url 'products' %}" class="buttons btn rounded mb-2 mx-1">
                                <span>
                                    <i class="fa-solid fa-chevron-left"></i>
                                </span>
                                <span>Keep Shopping</span>
                            </a>
                            <input type="submit" class="buttons btn rounded mb-2 mx-1" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
                {% if request.user.is_superuser %}
                <div class="d-flex justify-content-center">
                    <small>
                        <a href="{% url 'edit_product' product.id %}"
                            class="edit-btns btn rounded mb-1 mx-1 px-2 py-1">Edit</a>
                        <a href="{% url 'delete_product' product.id %}"
                            class="edit-btns btn rounded mb-1 px-2 py-1 font-weight-bold">DELETE</a>
                    </small>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% include 'reviews/add_review.html' %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}