{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col mt-3 text-center">
            <h2>Products</h2>
            {% for c in current_categories %}
            <a class="btn buttons category-btn w-20 mb-2"
                href="{% url 'products' %}?category={{ c.name }}">{{ c.friendly_name }}</a>
            {% endfor %}
            <hr class="w-50 mb-3">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector"
                            class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort
                                by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>
                                Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>
                                Price (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
                                (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>
                                Name (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                                Category (A-Z)
                            </option>
                            <option value="category_desc"
                                {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a href="{% url 'products' %}" class="link products-link">All
                                Products</a> | </span>
                        {% endif %}
                        {{ products|length }} Products{% if search_term %} found for
                        <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        <!-- Product Image -->
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{% static 'images/logo.webp' %}"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <!-- Product Info -->
                        <div class="card-body pb-0">
                            <div class="row">
                                <div class="col-10">
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>
                                <div class="col-2">
                                    <p><i class="fa-regular fa-heart d-flex justify-content-end wishlist-icon"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                                </div>
                                {% if product.category %}
                                <div class="col">
                                    <p class="small">
                                        <a class="text-muted"
                                            href="{% url 'products' %}?category={{ product.category.name }}">
                                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                        </a>
                                    </p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Horizontal rule under products on different screen sizes -->
                {% if forloop.counter|divisibleby:1%}
                <div class="col-12 d-sm-none my-3">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2%}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none my-3">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3%}
                <div class="col-12 d-none d-lg-block d-xl-none my-3">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4%}
                <div class="col-12 d-none d-xl-block my-3">
                    <hr>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- End of products horizontal rule and back to top arrow -->
    <div class="row">
        <div class="col-2 col-lg-1"></div>
        <div class="col-8 col-lg-10">
            <hr class="products-hr mt-5 py-3">
        </div>
        <div class="col-2 col-lg-1 d-flex flex-wrap align-content-center p-0">
            <div class="justify-content-end pr-3">
                <a class="d-flex h-100 back-to-top-link">
                    <i class="fa-solid fa-chevron-up btn buttons back-to-top p-1"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- JS for filter selector functionality -->
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.back-to-top-link').click(function(e) {
        window.scrollTo(0,0);
    })
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}